@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
    margin: 0%;
    padding: 0%;
}

.navbar1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#4DA1D5;
    height: 70px;
    position: fixed;
    width: 100%;
}

.divnavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.elementnavbar{
    text-decoration: none;
    font-family: 'Peddana', serif;
    font-size: 40px;
    color: white;
    margin-left: 0px;
    padding-top: 3px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
}

.elementnavbar:first-child{
    margin-left: 0px;
}

.elementnavbar:hover{
    background-color:#296D98;
}

#experience{
    margin-left: 50px;
}

#titulo1{
    text-align: center;
    color: #296D98;
    font-size: 35px;
}

.p1{
    font-family: 'Peddana', serif;
    margin-top: 100px;
    text-align: center;
    margin-left: 450px;
    font-size: 50px;
}

.mercantil{
    margin-top: 10px;
    width: 450px;
    height: 250px;
}

.contenido-mercantil{
    font-family: 'Peddana', serif;
    font-size: 25px;
    margin-left: 700px;
    margin-top: -200px;
    border: #296D98 solid;
    width: 500px;
    height: 110px;
}

.tecnologia1{
    font-family: 'Peddana', serif;
    padding-left: 10px;
}

.fecha1{
    font-family: 'Peddana', serif;
    padding: 0px;
    padding-left: 10px;
}

.url1{
    font-family: 'Peddana', serif;
    font-size: 25px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    padding-left: 10px;
   }

.experience2{
    font-family: 'Peddana', serif;
    font-size: 40px;
    margin-top: 0px;
    margin-left: 50px;
}

.p2{
    text-align: center;
    margin-left: 400px;
    margin-top: 200px;
}

.as{
    width: 500px;
    height: 300px;
    margin-top: -100px;
}

.contenido-as{
    margin-left: 700px;
    margin-top: -150px;
    border: #296D98 solid;
    width: 450px;
    height: 110px;
}

.tecnologia2{
    padding: 10px;
}

.fecha2{
    padding: 10px
}

.url2{
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
   }

.status{
    padding: 10px;
}

.fotomia{
    height: 350px;
}

#infoyo{
    margin-left: 100px;
    margin-top: 70px;
}

.contenidoyo{
    border: #296D98 solid;
    width: 550px;
    margin-left: 550px;
    margin-top: -300px;
}

.dato{
    padding: 10px;
}

.tituloyo{
    text-align: center;
    color: #296D98;
    font-family: 'Peddana', serif;
    font-size: 60px;
}

#contact-title{
    text-align: center;
    color: #296D98;
    font-family: 'Peddana', serif;
    font-size: 80px;
}

.formulario{

}